@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

/* global variables */
:root {
  --global-border-radius: 10px;
  --color-primary: #c75000;
  --color-primary-hover: #752f00;
  --color-secondary: #5b6a80;
  --color-secondary-hover: #414c5b;
  --color-base-dark: #2f2f2f;
  --color-base-dark-2: #383838;
  --color-base-dark-3: #404040;
  --color-base-dark-4: #1f1f1f;
  --color-base-dark-5: #494949;
  --color-base-dark-6: #464646;

  --color-txt-secondary: #dcdcdc;
  --color-txt-3: #9b9b9b;

  --color-green: #2ab74f;
  --color-red: #cf5353;

  --color-blue-1: #378afb;
}
